body{
    background: #282a2d;
    font-family: ubuntu;
}

h1{
    color: #e5a00d;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 60px;
    text-align: center;
}

.content{
    background: #383a3d;
    max-width: 1100px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 10px 120px 10px 10px;
    border: #e5a00d solid 1px;
    box-shadow: 1px 3px 5px rgba(5,5,5,1 )
}

ul{
    list-style-type: none;
    padding: 0;
    background-color: #383a3d;
    margin: 10px 20px;
}

li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    background: #ddd;
    font-size: 1.5em;
    color: #000;
    position: relative;
    border-bottom: 2px solid #e5a00d;
    margin-bottom: 20px;
    box-shadow: 15px 10px #222;
}

li:nth-child(even){
    padding: 20px;
    background: #eee;
}

li span{
    display: block;
    padding-bottom: 3px;
}

li div, .update{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(20,20,20,0.6);
    width: 40px;
    text-align: center;
    padding: 6px 0;
    font-weight:  bold;
    cursor:  pointer;
    color: #e5a00d;
    height: 27px;
}
.update{
    top: 0;
    right: 40px;
    border-right: #a5500d 1px solid;
    width: auto;
    text-decoration: none;
    font-size: 0.8em;
    padding: 9px;
    height: 21px;
}

#add-request-form input, #add-request-form select{
    float: left;
    width: 38%;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 1% 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 1.2em;
}

input:focus{
    outline-color: #e5a00d;
}

#add-request-form:after{
    content: '';
    clear: both;
    display: block;
}

#add-request-form button{
    overflow: hidden;
    border: 0;
    background: #282a2d;
    padding: 10px 10px 10px 0px;
    width: 18%;
    height: 80px;
    border: 1px #e5a00d solid;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    letter-spacing: 1px;
    color: #e5a00d;
    position: absolute;
    bottom: 20;
    right: 0;
    border-radius: 10px 120px 10px 10px;
}
#add-request-form{
    position: relative;
}
#add-request-form button:hover{
    color:#282a2d;
    background: #e5a00d;
}
a{
    color: #a5500d;
}
#legende{ 
    color: #e5a00d;
    text-decoration: underline;
    border: none;
    background-color: #383a3d;
    font-size: 1em;
    text-align: right;
    margin-left: 70%;
}

.legendePopup{
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: none;
}
.legendePopup-content{
    margin: 10% auto;
    width: 70%;
    min-width: 500px;
    background-color: #383a3d;
    border: 1px solid #e5a00d;
    border-radius: 10px;
    color: #eee;
    position: relative;
    font-size: 1.5em;
}
.legendeGrid{
    display: grid;
    grid-template-columns: 30% 70%;
}
.legendePopup-content img{
    max-width: 100px;
    max-height: 100px;
    padding: 20px;
}
.legendePopup-content h2, .signup-content h2, .login-content h2{
    color: #e5a00d;
    padding: 20px 10px 10px 10px;
    widows: 100%;
    text-align: center;
    font-size: 2em;
}
.closePopup{
    position: absolute;
    top: 5;
    right: 15;
    font-size: 3.5em;
    font-weight: bold;
    transform: rotate(45deg);
    background-color: rgba(0, 0, 0, 0);
    color: #e5a00d;
    cursor: pointer;
    border: none;
}

#modal-signup, #modal-login{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: none; 
}
.signup-content, .login-content{
    margin: 10% auto;
    width: 60%;
    height: 60%;
    min-width: 500px;
    background-color: #383a3d;
    border: 1px solid #e5a00d;
    border-radius: 10px;
    color: #eee;
    position: relative;
    text-align: center;
}
.signup-content form input, .login-content form input{
    width: 80%;
    height: 10%;
    margin: 1% 10% 5%;
    font-size: 1.5em;
}
.signup-content form button, .login-content form button{
    width: 40%;
    font-size: 1.5em;
    padding: 10px;
    background-color: #282a2d;
    color: #ddd;
    border: 1px solid #e5a00d;
    border-radius: 2px;
}
.signup-content form button:hover, .login-content form button:hover{
    background-color: #e5a00d;
    color: #000;
}
.signup-content form label, .login-content form label{
    font-size: 1.5em;
    padding-bottom: 5px;
}

.knoppies{
    position: absolute;
    right: 10;
    top: 10;
}
.knoppies button{
    border: #e5a00d 1px solid;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 5px 5px #222;
}
.login{
    background-color: #282a2d;
    color: #ddd;
}
.signup{
    background-color: #e5a00d;
    color: #fff;
}

.closePopupLogin, .closePopupSignup{
    position: absolute;
    top: 5;
    right: 15;
    font-size: 3.5em;
    font-weight: bold;
    transform: rotate(45deg);
    background-color: rgba(0, 0, 0, 0);
    color: #e5a00d;
    cursor: pointer;
    border: none;
}
.drop{
    width: 100%;
    background-color: rgba(20,20,20,0.6);
    display: none;
}

.update:hover .drop{
    display: block;
}
.drop button{
    background-color: rgba(20,20,20,0.6);;
    color: #e5a00d;
    border: none;
    font-size: 1em;
    border: #a5500d 1px solid;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 2px 0;
    cursor: pointer;
}

.err-field, .mess-field{
    margin: 10px auto;
    width: 60%;
    padding: 10px 30px;
    border-radius: 10px 150px 10px 10px;
    box-shadow: 5px 5px #222;
    display: none;
    font-size: 1.3em;
    grid-template-columns: 20% 80%;
}
.err-field{
    border: 1.5px red solid;
    background-color: rgb(247, 196, 204);
}
.mess-field{
    border: 1.5px green solid;
    background-color: rgb(202, 248, 202);
}
.errors, .messages{
    padding-left: 20px;
}
.gr{
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.err-field .gr{
    color: red;
    border-right: 1px red solid;
}
.mess-field .gr{
    color: green;
    border-right: 1px green solid;
}